<!-- Header -->
<header class="inner-page-header">
    <div class="container">
        <div class="inner-header-content">
            <h1>About Us</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">About Us</li>
                </ol>
            </nav>
        </div>
    </div>
</header>
<!-- Header -->
<!-- About-section -->
<section class="about-section bg-off-white pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 pb-30">
                <div class="about-section-item about-item-image text-center">
                    <img src="assets/images/feature-shape/feature-shape-1.png" alt="shape">
                </div>
            </div>
            <div class="col-lg-6 pb-30">
                <div class="about-section-item about-item-details">
                    <div class="section-title section-title-left text-start">
                        <small>About Us</small>
                        <h2>Mission Is To Bring The Power Of Ml To Every Business</h2>
                    </div>
                    <div class="about-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <ul>
                            <li>Advance Advisory Team</li>
                            <li>Advance Quality Experts</li>
                            <li>Many variations of passages</li>
                            <li>High-Quality Results</li>
                        </ul>
                        <p>Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulp theutate cursus a sit amet mauris.</p>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
                            qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About-section -->
<!-- Choose-section -->
<section class="choose-section pb-70 pt-100">
    <div class="container">
        <div class="section-title">
            <small>Why Choose Us</small>
            <h2>Why People Choose Erudex For ML Services</h2>
            <p>Our purpose is to deliver excellence in service and execution Our purpose is to deliver excellence in service and Our purpose is to deliver excellence.</p>
        </div>
        <div class="process-content">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4 pb-30">
                    <div class="process-item process-item-center border">
                        <div class="process-thumb">
                            <img src="assets/images/process/process-four.png" alt="shape">
                        </div>
                        <div class="process-text">
                            <h3>Easy Model Building</h3>
                            <p>Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 pb-30">
                    <div class="process-item process-item-center border">
                        <div class="process-thumb">
                            <img src="assets/images/process/process-five.png" alt="shape">
                        </div>
                        <div class="process-text">
                            <h3>Robust ML Production Anywhere</h3>
                            <p>Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 pb-30">
                    <div class="process-item process-item-center border">
                        <div class="process-thumb">
                            <img src="assets/images/process/process-six.png" alt="shape">
                        </div>
                        <div class="process-text">
                            <h3>Powerful Experimentation</h3>
                            <p>Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Choose-section -->
<!-- Testimonial-section -->
<section class="testimonial-section p-tb-100 bg-off-white">
    <div class="container">
        <div class="section-title">
            <small>Testimonial</small>
            <h2>What Say Our Clients About Our Awesome Service</h2>
        </div>
        <div class="testimonial-carousel default-carousel owl-carousel owl-theme">
            <div class="item">
                <div class="testimonial-card">
                    <div class="testimonial-card-body">
                        <div class="testimonial-card-inner-header">
                            <h3>Deltabel</h3>
                            <div class="testimonial-quote">
                                <i class="icofont-quote-left"></i>
                            </div>
                        </div>
                        <p class="testimonial-para">Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin.</p>
                        <ul class="review-star-list">
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                        </ul>
                    </div>
                    <div class="testimonial-card-info">
                        <div class="testimonial-card-info-thumb">
                            <img src="assets/images/testimonial-1.jpg" alt="testimonial">
                        </div>
                        <div class="testimonial-card-info-text">
                            <h3 class="testimonial-name">Johnson Mandel</h3>
                            <p class="testimonial-address">Los Angel</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimonial-card">
                    <div class="testimonial-card-body">
                        <div class="testimonial-card-inner-header">
                            <h3>Pentham CX</h3>
                            <div class="testimonial-quote">
                                <i class="icofont-quote-left"></i>
                            </div>
                        </div>
                        <p class="testimonial-para">Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin.</p>
                        <ul class="review-star-list">
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                        </ul>
                    </div>
                    <div class="testimonial-card-info">
                        <div class="testimonial-card-info-thumb">
                            <img src="assets/images/testimonial-2.jpg" alt="testimonial">
                        </div>
                        <div class="testimonial-card-info-text">
                            <h3 class="testimonial-name">Bentham Rober</h3>
                            <p class="testimonial-address">Bremen</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimonial-card">
                    <div class="testimonial-card-body">
                        <div class="testimonial-card-inner-header">
                            <h3>Floradex TL</h3>
                            <div class="testimonial-quote">
                                <i class="icofont-quote-left"></i>
                            </div>
                        </div>
                        <p class="testimonial-para">Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin.</p>
                        <ul class="review-star-list">
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                        </ul>
                    </div>
                    <div class="testimonial-card-info">
                        <div class="testimonial-card-info-thumb">
                            <img src="assets/images/testimonial-3.jpg" alt="testimonial">
                        </div>
                        <div class="testimonial-card-info-text">
                            <h3 class="testimonial-name">Thomas Albin</h3>
                            <p class="testimonial-address">New York</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimonial-card">
                    <div class="testimonial-card-body">
                        <div class="testimonial-card-inner-header">
                            <h3>Fantabulous</h3>
                            <div class="testimonial-quote">
                                <i class="icofont-quote-left"></i>
                            </div>
                        </div>
                        <p class="testimonial-para">Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin.</p>
                        <ul class="review-star-list">
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                        </ul>
                    </div>
                    <div class="testimonial-card-info">
                        <div class="testimonial-card-info-thumb">
                            <img src="assets/images/testimonial-4.jpg" alt="testimonial">
                        </div>
                        <div class="testimonial-card-info-text">
                            <h3 class="testimonial-name">John Doe</h3>
                            <p class="testimonial-address">Los Angel</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial-section -->
<!-- Newsletter-section -->
<section class="newsletter-section pt-min-100 pb-100 page-bg page-bg-2 page-bg-overlay">
    <div class="container position-relative">
        <div class="section-title section-title-white">
            <h2>Subscribe For Newsletter</h2>
            <p>Subscribe to our newsletter & stay updated</p>
        </div>
        <form class="newsletter-form">
            <div class="form-group m-0 newsletter-form">
                <input type="text" name="EMAIL" id="emails" class="form-control" placeholder="Enter Address*" required>
                <button class="btn main-btn" type="submit">Subscribe</button>
            </div>
            <div id="validator-newsletter" class="form-result"></div>
        </form>
    </div>
</section>
<!-- Newsletter-section -->