<div class="container" style="margin-top: 10%;"><!-- Header -->
<header class="header header-bg border-bottom-1" style="margin-bottom: -10%;">
    <div class="container-fluid p-lg-0 custom-container-fluid">
        <div class="row m-lg-0 align-items-center">
            <div class="col-lg-6 p-lg-0 order-lg-2">
                <div class="header-content-image text-center">
                    <img src="assets/images/uni-bg3.jpg" alt="header">
                </div>
            </div>
            <div class="col-lg-6 p-lg-0 order-lg-1">
                <div class="max-585 me-lg-auto">
                    <div class="header-content">
                        <h1 >International Students</h1><br>
                        <h4>Our goal is to establish strong relationships with accredited and progressive Universities and High Schools that are committed to establishing, expanding or diversifying their international student body.<br><br> We are South Asia’s top B2B agency, with student recruitment operations are spread across 46 cities of India, and all key cities of Nepal, Sri Lanka, Bangladesh, Vietnam, Malaysia and Thailand, as well as parts of UAE, Nigeria, Turkey and East Europe.</h4>
                        <div class="process-content">
                            <div class="row justify-content-center">
                                <h4>We have an excellent agency network in place, carefully chosen, trained and appointed. Through the network and via our digital operations.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header -->
<!-- Process-section -->
<section class="process-section pt-60 pb-60 mt-5 bg-off-white">
    <div class="container">
        <!-- <div class="section-title section-title-lg">
            <small>Our Process</small>
            <h2>Process How TAG Will Help You</h2>
        </div> -->
        <div class="process-content">
            <!-- <div class="process-content-line"></div> -->
            <div class="row justify-content-center">
                <div class="col-sm-6 col-lg-4">
                    <div class="process-item process-item-center border mb-20">
                        <!-- <div class="process-thumb">
                            <img src="assets/images/process/agent.png" alt="shape">
                        </div> -->
                        <div class="process-text">
                            <h3>Your Goals </h3>
                            <p>Understanding your student recruitment goals – both quantitative and qualitative, is imperative to the success of our partnership. Whether its boosting numbers, promoting new programs or bringing out diversity.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="process-item process-item-center border">
                        <!-- <div class="process-thumb">
                            <img src="assets/images/process/universities.png" alt="shape">
                        </div> -->
                        <div class="process-text">
                            <h3>Get To Know You</h3>
                            <p>Familiarizing our team with the university’s mission, program offerings, admission criteria and process, international student policies and campus highlights help us know you well. This helps in generating applications.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="process-item process-item-center border">
                        <!-- <div class="process-thumb">
                            <img src="assets/images/process/financial.png" alt="shape">
                        </div> -->
                        <div class="process-text">
                            <h3>Quality Control </h3>
                            <p>We control and maintain the quality of students by screening and verifying applications to ensure a high acceptance and retention rate. Knowing you well allows us to establish suitable checks.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="process-item process-item-center border">
                        <!-- <div class="process-thumb">
                            <img src="assets/images/process/agent.png" alt="shape">
                        </div> -->
                        <div class="process-text">
                            <h3>Managing Agents </h3>
                            <!-- <p>Ensuring agent success by starting from application process. Our agents only have to upload the student documents. Rest assured next steps are automated. </p> -->
                            <p>We train the staff and counsellors of the Agent Network on how to promote, what to promote, the application nuances, facts & figures. This is done through digital & personal means. </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="process-item process-item-center border">
                        <!-- <div class="process-thumb">
                            <img src="assets/images/process/universities.png" alt="shape">
                        </div> -->
                        <div class="process-text">
                            <h3>Marketing Collaterals</h3>
                            <p>We can create marketing collaterals ranging from mailers to infographics and program handouts to support the marketing campaign and recruitment efforts. Printing orders are managed for brochures, leaflets, viewbooks.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="process-item process-item-center border">
                        <!-- <div class="process-thumb">
                            <img src="assets/images/process/financial.png" alt="shape">
                        </div> -->
                        <div class="process-text">
                            <h3>Marketing Tours</h3>
                            <p>Organizing University delegate visits to the Indian Sub-Continent, to attend fairs and events, student meet ups, marketing visits to hand-picked agent offices, training counsellors, information sessions .</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Process-section -->

<!-- Header -->
<header class="header header-bg border-bottom-1 pt-100">
    <div class="container-fluid p-lg-0 custom-container-fluid">
        <div class="row m-lg-0 align-items-center">
            <div class="col-lg-6 p-lg-0 order-lg-2">
                <div class="max-585 me-lg-auto">
                    <div class="header-content">
                        <h2 style="text-align:center ;">Our Network / Outreach</h2><br>
                        <p>Our network comprises of high quality study-abroad agencies that are carefully chosen and rigorously trained. Through this robust network, we are able to penetrate our student recruitment services to Tier I, II and III cities of India. This bring about a unique geographical diversity in the student population, as well as varied interests in degree choices. Large state universities, prestigious private colleges, niche schools – all have a market in India that they can reach into, through these agencies. Our network leverages our university relations and support system, to reach out to thousands of students each year for guiding them on their plans of studying abroad.</p>
                        <br>
                        <p>Our Agency Partners are carefully screened before signing up, thoroughly trained and constantly monitored.</p>
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-lg-0 order-lg-1">
                <div class="header-content-image text-center">
                    <img src="assets/images/11165.jpg" alt="header">
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header -->
<!-- Testimonial-section -->
<section class="testimonial-section pt-min-100 pb-100 position-relative bg-off-white">
    <div class="container">
        <div class="section-title section-title-lg">
            <h2>What Say Our Partner Universities About Us</h2>
            <p>Our purpose is to deliver excellence in service and execution Our purpose is to deliver excellence in service and Our purpose is to deliver excellence in service.</p>
        </div>
        <div class="testimonial-carousel default-carousel owl-carousel owl-theme">
            <div class="item">
                <div class="testimonial-card">
                    <div class="testimonial-card-body">
                        <div class="testimonial-card-inner-header">
                            <h3>Recommended</h3>
                            <div class="testimonial-quote">
                                <i class="icofont-quote-left"></i>
                            </div>
                        </div>
                        <p class="testimonial-para">The admit group helps in getting admits to our students easily and at a quick turn around time. I recommend their service</p>
                        <ul class="review-star-list">
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                        </ul>
                    </div>
                    <div class="testimonial-card-info">
                        <div class="testimonial-card-info-thumb">
                            <!-- <img src="assets/images/testimonial-1.jpg" alt="testimonial"> -->
                        </div>
                        <div class="testimonial-card-info-text">
                            <h3 class="testimonial-name">Vinay Sontake</h3>
                            <p class="testimonial-address">Atlas Overseas</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimonial-card">
                    <div class="testimonial-card-body">
                        <div class="testimonial-card-inner-header">
                            <h3>Good Service</h3>
                            <div class="testimonial-quote">
                                <i class="icofont-quote-left"></i>
                            </div>
                        </div>
                        <p class="testimonial-para">Helped in promoting our program and getting good service to our students. As a partner TAG has the best in class services.</p>
                        <ul class="review-star-list">
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                        </ul>
                    </div>
                    <div class="testimonial-card-info">
                        <div class="testimonial-card-info-thumb">
                            <!-- <img src="assets/images/testimonial-2.jpg" alt="testimonial"> -->
                        </div>
                        <div class="testimonial-card-info-text">
                            <h3 class="testimonial-name">Brian Phillips</h3>
                            <p class="testimonial-address">Saint a Peters University</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimonial-card">
                    <div class="testimonial-card-body">
                        <div class="testimonial-card-inner-header">
                            <h3>Professional Response</h3>
                            <div class="testimonial-quote">
                                <i class="icofont-quote-left"></i>
                            </div>
                        </div>
                        <p class="testimonial-para">Had great experience working with TAG team. The professional Response ensured me to work with them a lot more and get more success together.</p>
                        <ul class="review-star-list">
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                        </ul>
                    </div>
                    <div class="testimonial-card-info">
                        <div class="testimonial-card-info-thumb">
                            <!-- <img src="assets/images/testimonial-3.jpg" alt="testimonial"> -->
                        </div>
                        <div class="testimonial-card-info-text">
                            <h3 class="testimonial-name">AAC Consulting</h3>
                            <p class="testimonial-address">Surya Teja</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimonial-card">
                    <div class="testimonial-card-body">
                        <div class="testimonial-card-inner-header">
                            <h3>Fantabulous</h3>
                            <div class="testimonial-quote">
                                <i class="icofont-quote-left"></i>
                            </div>
                        </div>
                        <p class="testimonial-para">Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin.</p>
                        <ul class="review-star-list">
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                        </ul>
                    </div>
                    <div class="testimonial-card-info">
                        <div class="testimonial-card-info-thumb">
                            <!-- <img src="assets/images/testimonial-4.jpg" alt="testimonial"> -->
                        </div>
                        <div class="testimonial-card-info-text">
                            <h3 class="testimonial-name">John Doe</h3>
                            <p class="testimonial-address">Los Angel</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial-section -->

 <!-- Contact-info-section -->
 <section class="contact-info-section pt-100 pb-100">
    <div class="container">
        <div class="section-title section-title-lg">
            <small>Contact Information</small>
            <h2>Let's Talk About For Your Business</h2>
            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
        </div>
        <!-- Contact-info -->
        <div class="contact-info mb-15">
            <div class="row">
                <div class="col-md-6 col-lg-4 pb-30">
                    <div class="contact-info-item">
                        <div class="contact-info-header">
                            <div class="contact-info-header-icon">
                                <i class="icofont-location-pin"></i>
                            </div>
                            <div class="contact-info-header-text">
                                <h3>Location</h3>
                                <p>Visit Our Office</p>
                            </div>
                        </div>
                        <div class="contact-info-body">
                            <p>The Admit Group Unit 317,</p>
                            <p>Vasavi's Sky City, Gachibowli,</p>
                            <p>Hyderabad, India, 500081 </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 pb-30">
                    <div class="contact-info-item">
                        <div class="contact-info-header">
                            <div class="contact-info-header-icon">
                                <i class="icofont-ui-call"></i>
                            </div>
                            <div class="contact-info-header-text">
                                <h3>Make A Call</h3>
                                <p>Let’s Talk with our Experts</p>
                            </div>
                        </div>
                        <div class="contact-info-body">
                            <p>
                                <a href="tel:(+91) 84381 86565">(+91) 84381 86565 </a>
                            </p>
                            <p>Mon - Fri: 09.00 to 17.00</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 pb-30 offset-lg-0 offset-md-3">
                    <div class="contact-info-item">
                        <div class="contact-info-header">
                            <div class="contact-info-header-icon">
                                <i class="icofont-email"></i>
                            </div>
                            <div class="contact-info-header-text">
                                <h3>Send An Email</h3>
                                <p>Don’t Hesitate to Email</p>
                            </div>
                        </div>
                        <div class="contact-info-body">
                            <p>
                                <a href="mailto:tag@theadmitgroup.com">tag@theadmitgroup.com </a>
                            </p>
                            <p>
                                <a href="mailto:tag@theadmitgroup.com">tag@theadmitgroup.com </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact-info -->
    </div>
</section>
<!-- Contact-info-section -->
<!-- Contact-form-section -->
<section class="contact-form-section pb-100">
    <div class="container">
        <!-- Contact-form-box -->
        <div class="contact-form-box">
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact-map contact-form-item">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.431480914154!2d78.36284221385023!3d17.439050405905615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb93822d34b1ed%3A0x5458b73c6cf18629!2z4LC14LC-4LC44LC14LC_IOCwuOCxjeCwleCxiCDgsLjgsL_gsJ_gsYA!5e0!3m2!1ste!2sin!4v1672040852028!5m2!1ste!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-form-item desk-pad-left-40">
                        <div class="section-title text-start section-title-left">
                            <h2>Let's Get In Touch!</h2>
                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit</p>
                        </div>
                        <form class="contact-form" id="contactForm">
                            <div class="form-group mb-20">
                                <input type="text" name="name" id="name" class="form-control" placeholder="Your Name*" required data-error="Please enter your name" />
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group mb-20">
                                <input type="text" name="email" id="email" class="form-control" placeholder="Your Email*" required data-error="Please enter your email" />
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group mb-20">
                                <input type="text" name="phone" id="phone" class="form-control" placeholder="Your Phone*" required data-error="Please enter your phone number" />
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group mb-20">
                                <input type="text" name="subject" id="subject" class="form-control" placeholder="Your Subject*" required data-error="Please enter your subject" />
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group mb-20">
                                <textarea name="message" class="form-control" id="message" rows="3" placeholder="Your Question*"></textarea>
                            </div>
                            <div class="input-checkbox mb-20">
                                <input type="checkbox" id="contact1">
                                <label for="contact1">Accept <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></label>
                            </div>
                            <div class="form-button">
                                <button class="btn main-btn full-width" type="submit">Send Message</button>
                                <div id="msgSubmit"></div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact-form-box -->
    </div>
</section>
<!-- Contact-form-section -->

<!-- Process-section -->
<section class="process-section pt-100 pb-70 bg-off-white">
    <div class="container">

        <div class="section-title section-title-lg">
            <h2>Partner Universities</h2>
            <p>Looking at studying the STEM programs or build a career in Arts or Business? Whether you want a big-city university or a location that’s easy and quiet, a bustling campus of thousands of students or a more intimate and personalized study experience, we have University options for you! Whether you are a top notch student looking for high ranked universities or looking at a great experience abroad in a reputable college. You name it, we have it. Here’s how we can help you</p>
        </div>
        <div class="slider">
            <div class="slide-track">
                <div class="slide">
                    <div class="service-card">
                        <div class="service-card-thumb">
                            <img src="assets/images/uni/UNH.png">
                        </div>
                        <div class="service-card-body">
                            <h3>University of New Haven</h3>
                            <!-- <p>Proin gravida nibh vel velit auctor.</p> -->
                            <a href="#" class="redirect-link">Discover More <i class="icofont-rounded-right"></i></a>
                        </div>
                    </div>
                    <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" /> -->
                </div>
                <div class="slide">
                    <div class="service-card">
                        <div class="service-card-thumb">
                            <img src="assets/images/uni/UOI.svg">
                        </div>
                        <div class="service-card-body">
                            <h3>University of Idaho</h3>
                            <!-- <p>Proin gravida nibh vel velit auctor.</p> -->
                            <a href="#" class="redirect-link">Discover More <i class="icofont-rounded-right"></i></a>
                        </div>
                    </div>
                    <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" /> -->
                </div>
                <div class="slide">
                    <div class="service-card">
                        <div class="service-card-thumb">
                            <img src="assets/images/uni/ASU.png">
                        </div>
                        <div class="service-card-body">
                            <h3>Arkansas State University</h3>
                            <!-- <p>Proin gravida nibh vel velit auctor.</p> -->
                            <a href="#" class="redirect-link">Discover More <i class="icofont-rounded-right"></i></a>
                        </div>
                    </div>
                    <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" /> -->
                </div>
                <div class="slide">
                    <div class="service-card">
                        <div class="service-card-thumb" style="background-color: #202d34;">
                            <img src="assets/images/uni/AUM.png">
                        </div>
                        <div class="service-card-body">
                            <h3>Auburn University</h3>
                            <!-- <p>Proin gravida auctor.</p> -->
                            <a href="#" class="redirect-link">Discover More <i class="icofont-rounded-right"></i></a>
                        </div>
                    </div>
                    <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" /> -->
                </div>
                <div class="slide">
                    <div class="service-card">
                        <div class="service-card-thumb" style="background-color: #202d34;">
                            <img src="assets/images/uni/GU.png">
                        </div>
                        <div class="service-card-body">
                            <h3>Gannon University</h3>
                            <!-- <p>Proin gravida nibh vel velit auctor.</p> -->
                            <a href="#" class="redirect-link">Discover More <i class="icofont-rounded-right"></i></a>
                        </div>
                    </div>
                    <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" /> -->
                </div>
                <div class="slide">
                    <div class="service-card">
                        <div class="service-card-thumb">
                            <img src="assets/images/uni/SLU.svg">
                        </div>
                        <div class="service-card-body">
                            <h3>Saint Leo University</h3>
                            <!-- <p>Proin gravida nibh vel velit auctor.</p> -->
                            <a href="#" class="redirect-link">Discover More <i class="icofont-rounded-right"></i></a>
                        </div>
                    </div>
                    <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" /> -->
                </div>
                <div class="slide">
                    <div class="service-card">
                        <div class="service-card-thumb">
                            <img src="assets/images/uni/AU.svg">
                        </div>
                        <div class="service-card-body">
                            <h3>Anderson University</h3>
                            <!-- <p>Proin gravida nibh vel velit auctor.</p> -->
                            <a href="#" class="redirect-link">Discover More <i class="icofont-rounded-right"></i></a>
                        </div>
                    </div>
                    <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" /> -->
                </div>
                <div class="slide">
                    <div class="service-card">
                        <div class="service-card-thumb">
                            <img src="assets/images/uni/SPU.png">
                        </div>
                        <div class="service-card-body">
                            <h3>Saint Peters University</h3>
                            <!-- <p>Proin gravida nibh vel velit auctor.</p> -->
                            <a href="#" class="redirect-link">Discover More <i class="icofont-rounded-right"></i></a>
                        </div>
                    </div>
                    <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" /> -->
                </div>
                <div class="slide">
                    <div class="service-card">
                        <div class="service-card-thumb">
                            <img src="assets/images/uni/MDC.svg">
                        </div>
                        <div class="service-card-body">
                            <h3>McDaniel College</h3>
                            <!-- <p>Proin gravida nibh vel velit auctor.</p> -->
                            <a href="#" class="redirect-link">Discover More <i class="icofont-rounded-right"></i></a>
                        </div>
                    </div>
                    <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" /> -->
                </div>
                <div class="slide">
                    <div class="service-card">
                        <div class="service-card-thumb">
                            <img src="assets/images/uni/sluc.png">
                        </div>
                        <div class="service-card-body">
                            <h3>Saint Louis University</h3>
                            <!-- <p>Proin gravida nibh vel velit auctor.</p> -->
                            <a href="#" class="redirect-link">Discover More <i class="icofont-rounded-right"></i></a>
                        </div>
                    </div>
                    <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" /> -->
                </div>
                <div class="slide">
                    <div class="service-card">
                        <div class="service-card-thumb">
                            <img src="assets/images/uni/UNH.png">
                        </div>
                        <div class="service-card-body">
                            <h3>University of New Haven</h3>
                            <!-- <p>Proin gravida nibh vel velit auctor.</p> -->
                            <a href="#" class="redirect-link">Discover More <i class="icofont-rounded-right"></i></a>
                        </div>
                    </div>
                    <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" /> -->
                </div>

            </div>
        </div>
        
    </div>
</section>
<!-- Process-section -->
</div>