<p>Feel free to reach Us</p>
<!-- :  Contact us @ tag@theadmitgroup.com for support -->


<div class="form-container col-md-8">
  <form>
      <div class="form-group row">
          <label for="firstName" class="col-sm-2 col-form-label">Subject : </label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="firstName" placeholder="please enter your first name" required>
              <!-- <mat-error *ngIf=" (f.first_name.touched || submitted) && f.first_name.errors?.required">Please enter valid first name</mat-error> -->
          </div>
      </div>
      <div class="form-group row">
          <label for="lastname" class="col-sm-2 col-form-label">Description : </label>
          <div class="col-sm-10">
              <!-- <input type="text" class="form-control"  placeholder="please enter your last name" required> -->
              <textarea class="form-control" id="description" rows="7" cols="50" placeholder="Please enter message"></textarea>
              <!-- <mat-error *ngIf=" (f.last_name.touched  || submitted) && f.last_name.errors?.required ">Please enter valid last name</mat-error> -->
          </div>
      </div>
      <div>
        <button class="btnSubmit" mat-raised-button color="primary">Send</button>
      </div>
  </form>
</div>

