.form-control {
    width: 90%;
}

.form-container {
    // margin-left: 290px;
    // margin-left: 135px;
    width: 66%;
}
.form-group div{
    width: 70%;
}

.form-group {
    padding-top: 20px;
    label{
        width: 150px;
    }
}
form{
    margin-left: 75px;
}

.btnSubmit{
left:390px;
top: 20px;
}