<div class="container wrapper">
    <h1>Apply</h1>
    <div class="inner">
        <button mat-button routerLink="/student">back</button><br>
        <!-- <div class="arrows">
            <a href="https://gradadm.usc.edu/apply/us-students/ready-to-apply/">
                <div class="next-button button"></div>
            </a>
            <a href="https://gradadm.usc.edu/apply/us-students/after-you-apply/">
                <div class="prev-button button"></div>
            </a>
        </div> --><br>
        <h2 class="transition">STEP 1: Profile Evaluation & Shortlisting</h2>
        <ul>
            <li class="transition">Read all instructions, as you will be unable to make too many edits to your application once you submit it. </li>
            <li class="transition">Application deadlines vary by program. Confirm your intended program’s deadline to ensure that you apply in a timely manner.</li>
            <li class="transition">Register for all tests, such as the GRE and GMAT, to ensure that university receives them in time to review them with your application.</li>
            <li class="transition">Check your preferred University English-language proficiency requirements to determine if you need to schedule the TOEFL/IELTS or PTE.</li>
            <li class="transition">If necessary, revise your resume/curriculum vitae to focus on the skills and achievements you would like to highlight for your graduate program.</li>
            <li class="transition">Identify potential recommenders and let them know that you would like them to write a recommendation for you. </li>
            <li class="transition">Check your preferred university country-specific guidelines for submitting academic records to determine what you need to submit.</li>
        </ul>
    </div>
</div>