<!-- Coming-soon-setion -->
<div class="coming-soon-section page-bg page-bg-1">
    <div class="container">
        <div class="coming-soon-content coming-soon-content-white">
            <div class="new-counter">
                <p class="day1"></p>
                <p class="hr1"></p>
                <p class="min1"></p>
                <p class="sec1"></p>
            </div>
            <div class="coming-soon-details">
                <h2>Coming Soon</h2>
                <form class="newsletter-form">
                    <div class="form-group m-0">
                        <input type="text" name="EMAIL" id="emailS" class="form-control" placeholder="Enter Your Email*" required>
                        <button class="btn main-btn" type="submit">SUBSCRIBE NOW</button>
                    </div>
                    <div id="validator-newsletter" class="form-result"></div>
                </form>
                <p>Subscribe our newsletter that we can easily connect you.</p>
            </div>
        </div>
    </div>
</div>
<!-- Coming-soon-setion -->