<div class="container wrapper">
    <h1>Apply</h1>
    <div class="inner">
        <button mat-button routerLink="/student">back</button>
        <!-- <div class="arrows">
            <a href="https://gradadm.usc.edu/apply/us-students/ready-to-apply/">
                <div class="next-button button"></div>
            </a>
            <a href="https://gradadm.usc.edu/apply/us-students/after-you-apply/">
                <div class="prev-button button"></div>
            </a>
        </div> -->
        <h2 class="transition">STEP 1: Profile Evaluation & Shortlisting</h2>
        <ul>
            <li class="transition">Read all instructions, as you will be unable to make too many edits to your application once you submit it. </li>
            <li class="transition">Application deadlines vary by program. Confirm your intended program’s deadline to ensure that you apply in a timely manner.</li>
            <li class="transition">Register for all tests, such as the GRE and GMAT, to ensure that university receives them in time to review them with your application.</li>
            <li class="transition">Check your preferred University English-language proficiency requirements to determine if you need to schedule the TOEFL/IELTS or PTE.</li>
            <li class="transition">If necessary, revise your resume/curriculum vitae to focus on the skills and achievements you would like to highlight for your graduate program.</li>
            <li class="transition">Identify potential recommenders and let them know that you would like them to write a recommendation for you. </li>
            <li class="transition">Check your preferred university country-specific guidelines for submitting academic records to determine what you need to submit.</li>
        </ul>
        <!-- <p class="transition">You should also use the months leading up to the deadline to complete the following steps:</p> -->
        <!-- <ol>
            <li><strong>GRE/GMAT and Other Tests:</strong> Schedule the GRE or GMAT as per your program requirement. <span style="text-decoration: underline;">Your scores are considered valid only if earned within five years to the month of your intended first term at USC</span>.
                (For example, no earlier than August 1 five years prior if applying for the fall term).</li>
            <li><strong>Resumé/Curriculum Vitae:</strong> There is no ‘right’ approach to structuring your resumé/CV when updating it to apply for graduate school. However, it is a good idea to take some time to identify the skills and achievements you would
                like to highlight for your graduate program and structure the document accordingly. Please note, you will be required to upload a copy of your resumé/CV as part of your application.</li>
            <li><strong>Recommendation Letters:</strong> Identify potential recommenders and let them know that you would like them to write a recommendation for you. The minimum number of recommendation letters required varies by program. Additionally, recommendations
                may be optional for some programs at USC.</li>
        </ol> -->
    </div>
</div>