<div class="container wrapper">
    <h1>Apply</h1>
    <div class="inner">
        <button mat-button routerLink="/student">back</button>
        <h2 class="transition">STEP 2: Application process</h2>
        <ul>
            <li class="transition">Our team takes care of your complete Online Application once you have carefully reviewed university requirements, instructions & University shortlisting.</li>
            <li class="transition">If Applicable our team will get in touch with you on to Pay Your Application Fees </li>
            <li class="transition">Upload Program Materials In addition to transcripts and test scores, most graduate programs require supplemental materials for admission review. These materials include, but are not limited to, elements such as a statement of purpose, recommendations,
                writing samples, a creative portfolio, etc. Please upload these documents according to the instructions and requirements for your intended program.</li>
        </ul>
    </div>
</div>