<div class="wrapper">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-10">
            <div class="row">
                Student Information
            </div>
            <div class="row">
                <div class="col-2">Student Name</div>
                <div class="col-2">Email</div>
                <div class="col-2">Agent URN</div>
                <div class="col-2">Agent Councellor phone</div>
                <div class="col-2">Student Communication Address</div>
            </div>
            <div class="row">
                <div class="col-2">Student Name</div>
                <div class="col-2">Email</div>
                <div class="col-2">Agent URN</div>
                <div class="col-2">Agent Councellor phone</div>
                <div class="col-2">Student Communication Address</div>
            </div>
        </div>
    </div>

</div>