<div class="wrapper">
    <div class="container">
        <div class="maincontent">
            <h1>Apply</h1>
            <div>
                <mat-tab-group mat-align-tabs="center">
                    <!-- <mat-tab dynamicHeight label="Checklist for indian Students">
                        <div class="indianchk">
                            <p>Utilizing Artificial Intelligence & Machine Learning as the key to success our data driven agent application system helps international students to achieve their success.
                                <br/>Our step-by-step admission guidelines are designed to help agents to easily navigate the application process and ensure that you complete your application in a timely and efficient manner. Please follow the steps below
                                to submit your application and reduce possible delays in getting your admission.
                            </p>
                            <hr>
                            <div class="indiancircles row">
                                <div class="circle1 col-md-4">
                                    <div class="circle">
                                        <div routerLink="national-before-apply">
                                            <a>
                                                <h3 class="circleheader">Before you apply</h3>
                                                <h4 class="circletext">Get prepared</h4>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="circle2 col-md-4">
                                    <div class="circle">
                                        <div routerLink="national-ready-apply">
                                            <a>
                                                <h3 class="circleheader">Ready to apply</h3>
                                                <h4 class="circletext">Complete & submit your application</h4>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="circle3 col-md-4">
                                    <div class="circle">
                                        <div routerLink="national-after-apply">
                                            <a>
                                                <h3 class="circleheader">After you apply</h3>
                                                <h4 class="circletext">Submit additional documents</h4>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="pdfdown">
                                <a>
                                    <mat-icon>picture_as_pdf</mat-icon><span>Download pdf</span></a>
                            </div>
                        </div>
                    </mat-tab> -->
                    <mat-tab label="Checklist for International Students">
                        <div class="internationchk">
                            <p>Utilizing Artificial Intelligence & Machine Learning as the key to success our data driven agent application system helps international students to achieve their success.
                                <br/>Our step-by-step admission guidelines are designed to help agents to easily navigate the application process and ensure that you complete your application in a timely and efficient manner. Please follow the steps below
                                to submit your application and reduce possible delays in getting your admission.
                            </p>
                            <div class="contentbox">
                                <img src="../../../../assets/images/Champagne.png">
                            </div>
                            <hr>
                            <div class="indiancircles row">
                                <div class="circle1 col-md-4">
                                    <div class="circle">
                                        <div routerLink="international-before-apply">
                                            <a>
                                                <h2 class="circleheader">Before you apply</h2>
                                                <h5 class="circletext">Get prepared</h5>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="circle2 col-md-4">
                                    <div class="circle">
                                        <div routerLink="international-ready-apply">
                                            <a>
                                                <h2 class="circleheader">Ready to apply</h2>
                                                <h5 class="circletext">Complete and submit your application</h5>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="circle3 col-md-4">
                                    <div class="circle">
                                        <div routerLink="international-after-apply">
                                            <a>
                                                <h2 class="circleheader">After you apply</h2>
                                                <h5 class="circletext">Submit Additional documents</h5>
                                            </a>
                                        </div>
                                    </div>
                                </div><br/>
                                <div class="circle4 col-md-4">
                                    <div class="circle">
                                        <div routerLink="financial-documentation">
                                            <a>
                                                <h2 class="circleheader">Financial documentation</h2>
                                                <h5 class="circletext">Learn more</h5>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="pdfdown">
                                <a>

                                </a>
                                <a href="../../../../assets/Students.pdf" download="Tag- students">
                                    <mat-icon>picture_as_pdf</mat-icon><span>Download pdf</span></a>
                            </div>
                        </div>
                    </mat-tab>

                </mat-tab-group>
            </div>
        </div>

    </div>
</div>