<div class="row">
    <div class="col-md-6">
        <img src="assets/images/AUBURN MONTOGOMORY 2.png">
        <br><br>
        <button mat-button style="background-color: whitesmoke;">
        <a 
            href="javascript:void(0)" 
            style="cursor:pointer"
            (click)="downloadPdf('assets/images/AUBURN MONTOGOMORY 2.png','auburn_montogomory')">
            Download
        </a></button>
        <br> <br>
    </div>
    <div class="col-md-6">
        <img src="assets/images/ST PETERS UNIVERSITY 1.png">
        <br><br>
       <button mat-button style="background-color: whitesmoke;"> <a 
        href="javascript:void(0)" 
        style="cursor:pointer"
        (click)="downloadPdf('assets/images/ST PETERS UNIVERSITY 1.png','ST_PETERS_UNIVERSITY')">
        Download
    </a> </button><br>
    </div>

</div>