.submitapplication{
    margin-top: 5px;
    margin-bottom: 5px;
}
.submitbtn {
    text-align: center;
}

.h2 {
    font-family: IcoFont;
}

.submit {
    margin: 7px;
    color: white;
    background-color: #212e36;
}

.mat-radio-button {
    margin-left: 30px;
}

.check {
    margin-left: 10px;
}

.mat-checkbox {
    margin-right: 10px;
}