.wrapper {
    margin: 10% 0 0.2% 5%;
}
.continue-btn
{
    background-color: #eb7304;
    color: #212e36;
}
    
.continue-btn:hover {
    background-color: #212e36;
    color: #fff;
}

#pluswrap {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
}

.plus {
    display: flex;
    margin: 0 auto;
}
::ng-deep .cdk-overlay-pane {
    margin-top: 100px !important;
}