<div class="container wrapper">
    <h1>Apply</h1>
    <div class="inner">
        <button mat-button routerLink="/student">back</button>
        <h2 class="transition">STEP 2: Application process</h2>
        <p>As per the university requirements students will be required to submit official transcripts, report GRE, English proficiency scores and their financial support documents to get admission decision.</p>
        <ul>
            <li class="transition">Submit Your Transcripts Although you will need to upload copies of your transcripts to your online application, they are not considered official. You must also have official copies mailed to your institution(s) of study. Mailing addresses
                are available on our website.</li>
            <li class="transition">Submit All Test Scores Universities accepts only electronic scores sent directly from the testing service. </li>
            <li class="transition">Upload your Financial Document(s) and Passport Copies If you are admitted and plan to attend university on an F-1 or J-1 visa, you will need to receive an I-20/DS-2019 from University. It is not necessary to submit your financial documents
                for your program to review your application. However, doing so early in the application process will help prevent possible delays in processing your I-20/DS-2019 after you certify your intent to enroll. </li>
            <li class="transition">Track Your Application Status After your application and official academic records have been submitted, please allow our admission processing center approximately 15 business days to match your transcript(s) to your application in our database.
                Check the email address you provided on the application regularly. All notifications regarding missing transcripts and other materials required to complete our evaluation will be emailed to you.</li>
            <li class="transition">View Your Decision Once the admission committee for your intended program of study has completed the review process, TAG will notify you by email that your admission decision is available. </li>
        </ul>
        <p>Please note: Admission decisions are made by individual academic departments and schools, not by TAG. </p>
    </div>
</div>