
 <!-- Contact-info-section -->
 <section class="contact-info-section pt-100 pb-100">
    <div class="container">
        <div class="section-title section-title-lg">
            <small>Contact Information</small>
            <h2>Let's Talk About For Your Business</h2>
            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
        </div>
        <!-- Contact-info -->
        <div class="contact-info mb-15">
            <div class="row">
                <div class="col-md-6 col-lg-4 pb-30">
                    <div class="contact-info-item">
                        <div class="contact-info-header">
                            <div class="contact-info-header-icon">
                                <i class="icofont-location-pin"></i>
                            </div>
                            <div class="contact-info-header-text">
                                <h3>Location</h3>
                                <p>Visit Our Office</p>
                            </div>
                        </div>
                        <div class="contact-info-body">
                            <p>The Admit Group Unit 317,</p>
                            <p>Vasavi's Sky City, Gachibowli,</p>
                            <p>Hyderabad, India, 500081 </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 pb-30">
                    <div class="contact-info-item">
                        <div class="contact-info-header">
                            <div class="contact-info-header-icon">
                                <i class="icofont-ui-call"></i>
                            </div>
                            <div class="contact-info-header-text">
                                <h3>Make A Call</h3>
                                <p>Let’s Talk with our Experts</p>
                            </div>
                        </div>
                        <div class="contact-info-body">
                            <p>
                                <a href="tel:(+91) 84381 86565">(+91) 84381 86565 </a>
                            </p>
                            <p>Mon - Fri: 09.00 to 17.00</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 pb-30 offset-lg-0 offset-md-3">
                    <div class="contact-info-item">
                        <div class="contact-info-header">
                            <div class="contact-info-header-icon">
                                <i class="icofont-email"></i>
                            </div>
                            <div class="contact-info-header-text">
                                <h3>Send An Email</h3>
                                <p>Don’t Hesitate to Email</p>
                            </div>
                        </div>
                        <div class="contact-info-body">
                            <p>
                                <a href="mailto:tag@theadmitgroup.com">tag@theadmitgroup.com </a>
                            </p>
                            <p>
                                <a href="mailto:tag@theadmitgroup.com">tag@theadmitgroup.com </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact-info -->
    </div>
</section>
<!-- Contact-info-section -->
<!-- Contact-form-section -->
<section class="contact-form-section pb-100">
    <div class="container">
        <!-- Contact-form-box -->
        <div class="contact-form-box">
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact-map contact-form-item">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2652.9660770380797!2d78.36375076994052!3d17.438995660318003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb93822d34b1ed%3A0x5458b73c6cf18629!2sVasavi%20Sky%20City!5e0!3m2!1sen!2sin!4v1675400564595!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-form-item desk-pad-left-40">
                        <div class="section-title text-start section-title-left">
                            <h2>Let's Get In Touch!</h2>
                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit</p>
                        </div>
                        <form class="contact-form" id="contactForm">
                            <div class="form-group mb-20">
                                <input type="text" name="name" id="name" class="form-control" placeholder="Your Name*" required data-error="Please enter your name" />
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group mb-20">
                                <input type="text" name="email" id="email" class="form-control" placeholder="Your Email*" required data-error="Please enter your email" />
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group mb-20">
                                <input type="text" name="phone" id="phone" class="form-control" placeholder="Your Phone*" required data-error="Please enter your phone number" />
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group mb-20">
                                <input type="text" name="subject" id="subject" class="form-control" placeholder="Your Subject*" required data-error="Please enter your subject" />
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group mb-20">
                                <textarea name="message" class="form-control" id="message" rows="3" placeholder="Your Question*"></textarea>
                            </div>
                            <div class="input-checkbox mb-20">
                                <input type="checkbox" id="contact1">
                                <label for="contact1">Accept <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></label>
                            </div>
                            <div class="form-button">
                                <button class="btn main-btn full-width" type="submit">Send Message</button>
                                <div id="msgSubmit"></div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact-form-box -->
    </div>
</section>
<!-- Contact-form-section -->