
.agent-btn
{
    background-color: #212e36;
    color: #fff;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;

}
    
.agent-btn:hover {
    background-color: #eb7304;
    color: #212e36;
}
.student-btn
{
    background-color: #212e36;
    color: #fff;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
}
    
.student-btn:hover {
    background-color: #eb7304;
    color: #212e36;
}
.row{
    display: flex;
}
.register{
    text-align: center;
}

::ng-deep .cdk-overlay-pane {
    margin-top: 100px !important;
}