<div class="wrapper">
    <div class="authentication-section pt-100 pb-70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 pb-30">
                    <div class="authentication-item">
                        <h3>Forget password</h3>
                        <div class="authentication-form">
                            <form [formGroup]="forgetpwdForm" class="form">
                                <div class="form-group mb-20">
                                    <input type="text" name="email" class="form-control" formControlName="email" required placeholder="Email Address">
                                </div>
                                <div class="form-group mb-20" *ngIf="confirmotp">
                                    <input type="text" name="email" class="form-control" formControlName="otp" required placeholder="Enter OTP">
                                </div>
                            <div *ngIf="submitpwd">
                                <div class="form-group mb-20">
                                    <input type="password" name="password" class="form-control" formControlName="password" required placeholder="Password*">
                                </div>
                                <div class="form-group mb-20">
                                    <input type="password" name="confirm_password" class="form-control" formControlName="confirmpwd" required placeholder="Confirm Password*">
                                </div>
                            </div>
                                <button class="btn main-btn full-width" type="submit" (click)="sendOTP()" *ngIf="sendOtp">Send OTP</button>
                                <button class="btn main-btn full-width" type="submit" (click)="submitotp()" *ngIf="confirmotp">Confirm OTP</button>
                                <button class="btn main-btn full-width" type="submit" (click)="submit()" *ngIf="submitpwd">Save Password</button>
                            
                            </form><br><hr>
                          
    
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

