<div class="authentication-section pb-70">
    <div id="pluswrap" *ngIf="loader">
        <div class="plus">
            <mat-spinner></mat-spinner>
        </div>
      </div>
    <div class="container">
        <p *ngIf="successText">Your password updated successfully your page automatically navigate to dashboard</p>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 pb-30">
                <div class="authentication-item">
                    <h3>change password</h3>
                    <p>please update your passsword with temparory password</p>
                    <div class="authentication-form">
                        <form [formGroup]="changePasswordForm" class="form" (ngSubmit)="passwordChange()">
                            <div class="form-group mb-20">
                                <input type="password" name="oldpass" class="form-control" formControlName="old_password" required placeholder="Old password">
                            </div>
                            <div class="form-group mb-20">
                                <input type="password" name="newpass" class="form-control" formControlName="password" required placeholder="New password">
                            </div>
                            <div class="form-group mb-20">
                                <input type="password" name="repass" class="form-control" formControlName="confirm_password" required placeholder="Confirm password">
                            </div>
                           
                            <button class="btn main-btn full-width" type="submit" >change password</button>
                           

                        </form><br><hr>
                        <div class="register">
                            <!-- <a [routerLink]="['/agent-register']">Become an Agent</a><br><br> -->
                            <!-- <a href="#">Register as Student</a> -->
                        </div>

                        <!-- <div class="row">
                            <div class="col-6 col-md-6 pb-10">
                                <button class="btn agent-btn">Become an Agent</button>
                            </div>
                            <div class="col-6 col-md-6 pb-10">
                                <button class="btn student-btn">Register as Student</button>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>