<!-- Header -->
<header class="header header-bg-lg header-bg-shape border-bottom-1">
    <div class="container-fluid p-lg-0">
        <div class="row m-lg-0">
            <div class="col-lg-6 p-lg-0">
                <div class="max-585 ms-auto">
                    <div class="header-content">
                        <h1>Your Partner in Global Education driven by AI & ML</h1>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
    <div class="header-image-shape">
        <img src="assets/images/Banner Image.png" alt="shape">
    </div>
    <div class="header-animation-shapes animation-d-none">
        <div class="header-animation-shape"></div>
    </div>
</header>
<!-- Header -->
<!-- Feature-section -->
<section class="feature-section pb-70 section-to-header">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 pb-30">
                    <div class="feature-card">
                        <div class="feature-card-header">
                            <div class="feature-card-thumb feature-card-thumb-green">
                                <i class="flaticon-machine-learning-1"></i>
                            </div>
                            <span>Students</span>
                        </div>
                        <div class="feature-card-body">
                            <p>Our team supports the end-to-end journey from research through airport arrival.</p>
                            <a href="#" class="redirect-link">Student Services <i class="icofont-rounded-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 pb-30">
                    <div class="feature-card">
                        <div class="feature-card-header">
                            <div class="feature-card-thumb feature-card-thumb-yellow">
                                <i class="flaticon-voice-recognition"></i>
                            </div>
                            <span>Agents</span>
                        </div>
                        <div class="feature-card-body">
                            <p>Ensuring success through our data driven automated application system</p>
                            <a href="#" class="redirect-link">Agent Services <i class="icofont-rounded-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 pb-30">
                    <div class="feature-card">
                        <div class="feature-card-header">
                            <div class="feature-card-thumb feature-card-thumb-blue">
                                <i class="flaticon-machine-learning"></i>
                            </div>
                            <span>Universities</span>
                        </div>
                        <div class="feature-card-body">
                            <p>Technology driven recruitment to help universities recruit in higher numbers. </p>
                            <a href="#" class="redirect-link">Discover More <i class="icofont-rounded-right"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Feature-section -->
<!-- Header -->
<header class="header header-bg border-bottom-1">
    <div class="container-fluid p-lg-0 custom-container-fluid">
        <div class="row m-lg-0 align-items-center">
            <div class="col-lg-6 p-lg-0 order-lg-2">
                <div class="max-585 me-lg-auto">
                    <div class="header-content">
                        <h2 style="text-align:center ;">Meet TAG</h2>
                        <p>My mission is to bring power of automation to your business needs ensuring partner success in Higher education industry utilizing Artificial Intelligence and Machine Learning. TAG specializes in end-to-end higher education process.</p>
                        <br>
                        <div class="process-content">
                            <div class="process-content-line"></div>
                            <div class="row justify-content-center">
                                <div class="col-sm-6 col-lg-4 pb-30">
                                    <div class="process-item process-item-center border">
                                        <div class="process-thumb">
                                            <img src="assets/images/process/process-one.png" alt="shape">
                                        </div>
                                        <div class="process-text">
                                            <h6>Automated Application Processing</h6>
                                            <!-- <p>Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida.</p> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 pb-30">
                                    <div class="process-item process-item-center border">
                                        <div class="process-thumb">
                                            <img src="assets/images/process/process-two.png" alt="shape">
                                        </div>
                                        <div class="process-text">
                                            <h6>Automated updates on every stage.</h6>
                                            <!-- <p>Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida.</p> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 pb-30">
                                    <div class="process-item process-item-center border">
                                        <div class="process-thumb">
                                            <img src="assets/images/process/process-three.png" alt="shape">
                                        </div>
                                        <div class="process-text">
                                            <h6>Automated Application tracking.</h6>
                                            <!-- <p>Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida.</p> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-lg-0 order-lg-1">
                <div class="header-content-image text-center">
                    <img src="assets/images/Imae 1.png" alt="header">
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header -->
<!-- About-section -->

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-6">
            <section id="about-us" class="content-blockl">
                <div class="content-block-body content-block_main">
                    <h2 style="color:#eb7304 ;">About Us</h2><br>
                    <p>The Admit Group is the only EdTech company globally with a fully automated application system. Ensuring partner success in Higher education industry utilizing Artificial Intelligence and Machine Learning is the vision of the company.</p>
                    <p>The Admit group’s highest priority is to ensure we reduce the workload of our partners. Our success in B2B model arises through our transparency & partner first work culture to ensure that we provide them with the best service in lowest
                        turn around time. </p>
                </div>
            </section>
        </div>
        <div class="col-lg-2 col-md-6">
            <section id="about_us" class="content-block2">
                <div id="content_all" class="count">
                    <div class="unicount">
                        <h3 class="uninum">50+</h3>
                        <p>Universities</p>
                    </div>
                </div>
                <div id="content_all" class="count">
                    <div class="unicount">
                        <h3 class="prgrmcount">1500+</h3>
                        <p>Programs</p>
                    </div>
                </div>
                <div id="content_all" class="count">
                    <div class="unicount">
                        <h3 class="studentcount">2500+</h3>
                        <p>Students</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- About-section -->

<!-- Process-section -->
<section class="process-section pt-100 pb-70 bg-off-white">
    <div class="container">

        <div class="section-title section-title-lg">
            <h2>High-demand Programs </h2>
            <small>We offer 3,000+ US university programs for every student level, across any modality. Discover our first-year, transfer, and English-language academic offerings; award-nominated digital classroom experiences; and outcome-driven career initiatives.</small>
            <br><br>
            <div class="button-group button-group-animated">
                <a href="contact.html" class="btn main-btn">Graduate</a>
                <a href="contact.html" class="btn main-btn main-btn-white">Under Graduate</a>
            </div>
            <br>
        </div>
        <div class="slider">
            <div class="slide-track">
                <div class="slide">
                    <div class="service-card">
                        <div class="service-card-thumb">
                            <i class="flaticon-machine-learning-2"></i>
                        </div>
                        <div class="service-card-body">
                            <h3>University of New Haven</h3>
                            <p>Proin gravida nibh vel velit auctor.</p>
                            <a href="service-security-&-surveillance.html" class="redirect-link">Discover More <i class="icofont-rounded-right"></i></a>
                        </div>
                    </div>
                    <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" /> -->
                </div>
                <div class="slide">
                    <div class="service-card">
                        <div class="service-card-thumb">
                            <i class="flaticon-machine-learning-2"></i>
                        </div>
                        <div class="service-card-body">
                            <h3>University of Idaho</h3>
                            <p>Proin gravida nibh vel velit auctor.</p>
                            <a href="service-security-&-surveillance.html" class="redirect-link">Discover More <i class="icofont-rounded-right"></i></a>
                        </div>
                    </div>
                    <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" /> -->
                </div>
                <div class="slide">
                    <div class="service-card">
                        <div class="service-card-thumb">
                            <i class="flaticon-machine-learning-2"></i>
                        </div>
                        <div class="service-card-body">
                            <h3>Arkansas State University</h3>
                            <p>Proin gravida nibh vel velit auctor.</p>
                            <a href="service-security-&-surveillance.html" class="redirect-link">Discover More <i class="icofont-rounded-right"></i></a>
                        </div>
                    </div>
                    <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" /> -->
                </div>
                <div class="slide">
                    <div class="service-card">
                        <div class="service-card-thumb">
                            <i class="flaticon-machine-learning-2"></i>
                        </div>
                        <div class="service-card-body">
                            <h3>Auburn University Montgomery</h3>
                            <p>Proin gravida auctor.</p>
                            <a href="service-security-&-surveillance.html" class="redirect-link">Discover More <i class="icofont-rounded-right"></i></a>
                        </div>
                    </div>
                    <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" /> -->
                </div>
                <div class="slide">
                    <div class="service-card">
                        <div class="service-card-thumb">
                            <i class="flaticon-machine-learning-2"></i>
                        </div>
                        <div class="service-card-body">
                            <h3>Gannon University</h3>
                            <p>Proin gravida nibh vel velit auctor.</p>
                            <a href="service-security-&-surveillance.html" class="redirect-link">Discover More <i class="icofont-rounded-right"></i></a>
                        </div>
                    </div>
                    <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" /> -->
                </div>
                <div class="slide">
                    <div class="service-card">
                        <div class="service-card-thumb">
                            <i class="flaticon-machine-learning-2"></i>
                        </div>
                        <div class="service-card-body">
                            <h3>Saint Leo University</h3>
                            <p>Proin gravida nibh vel velit auctor.</p>
                            <a href="service-security-&-surveillance.html" class="redirect-link">Discover More <i class="icofont-rounded-right"></i></a>
                        </div>
                    </div>
                    <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" /> -->
                </div>
                <div class="slide">
                    <div class="service-card">
                        <div class="service-card-thumb">
                            <i class="flaticon-machine-learning-2"></i>
                        </div>
                        <div class="service-card-body">
                            <h3>Anderson University</h3>
                            <p>Proin gravida nibh vel velit auctor.</p>
                            <a href="service-security-&-surveillance.html" class="redirect-link">Discover More <i class="icofont-rounded-right"></i></a>
                        </div>
                    </div>
                    <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" /> -->
                </div>
                <div class="slide">
                    <div class="service-card">
                        <div class="service-card-thumb">
                            <i class="flaticon-machine-learning-2"></i>
                        </div>
                        <div class="service-card-body">
                            <h3>Saint Peters University</h3>
                            <p>Proin gravida nibh vel velit auctor.</p>
                            <a href="service-security-&-surveillance.html" class="redirect-link">Discover More <i class="icofont-rounded-right"></i></a>
                        </div>
                    </div>
                    <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" /> -->
                </div>
                <div class="slide">
                    <div class="service-card">
                        <div class="service-card-thumb">
                            <i class="flaticon-machine-learning-2"></i>
                        </div>
                        <div class="service-card-body">
                            <h3>McDaniel College</h3>
                            <p>Proin gravida nibh vel velit auctor.</p>
                            <a href="service-security-&-surveillance.html" class="redirect-link">Discover More <i class="icofont-rounded-right"></i></a>
                        </div>
                    </div>
                    <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" /> -->
                </div>
                <div class="slide">
                    <div class="service-card">
                        <div class="service-card-thumb">
                            <i class="flaticon-machine-learning-2"></i>
                        </div>
                        <div class="service-card-body">
                            <h3>Saint Louis University</h3>
                            <p>Proin gravida nibh vel velit auctor.</p>
                            <a href="service-security-&-surveillance.html" class="redirect-link">Discover More <i class="icofont-rounded-right"></i></a>
                        </div>
                    </div>
                    <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" /> -->
                </div>
                <div class="slide">
                    <div class="service-card">
                        <div class="service-card-thumb">
                            <i class="flaticon-machine-learning-2"></i>
                        </div>
                        <div class="service-card-body">
                            <h3>University of New Haven</h3>
                            <p>Proin gravida nibh vel velit auctor.</p>
                            <a href="service-security-&-surveillance.html" class="redirect-link">Discover More <i class="icofont-rounded-right"></i></a>
                        </div>
                    </div>
                    <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" /> -->
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Process-section -->

<!-- Trial-section -->
<section class="trial-section pt-min-100 pb-100 bg-main page-bg page-bg-1">
    <div class="container">
        <div class="section-title section-title-lg section-title-white mb-0">
            <h2>Just Some Text</h2>
            <p>Our purpose is to deliver excellence in service and execution Our purpose is to deliver excellence in service and Our purpose is to deliver excellence in service.</p>
            <a href="contact.html" class="btn main-btn main-btn-white main-btn-rounded-icon">Contact Us <span><i class="icofont-rounded-right"></i></span></a>
        </div>
    </div>
</section>
<!-- Trial-section -->
<!-- Process-section -->
<section class="process-section pt-100 pb-70 bg-off-white">
    <div class="container">
        <div class="section-title section-title-lg">
            <small>Our Process</small>
            <h2>Process How TAG Will Help You</h2>
        </div>
        <div class="process-content">
            <div class="process-content-line"></div>
            <div class="row justify-content-center">
                <div class="col-sm-6 col-lg-4 pb-30">
                    <div class="process-item process-item-center border">
                        <div class="process-thumb">
                            <img src="assets/images/process/process-one.png" alt="shape">
                        </div>
                        <div class="process-text">
                            <h3>Agents</h3>
                            <p>Ensuring agent success by starting from application process. Our agents only have to upload the student documents. Rest assured next steps are automated. </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 pb-30">
                    <div class="process-item process-item-center border">
                        <div class="process-thumb">
                            <img src="assets/images/process/process-two.png" alt="shape">
                        </div>
                        <div class="process-text">
                            <h3>University Shortlisting</h3>
                            <p>Our automated system has the ability to process the documents and provide the best match university.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 pb-30">
                    <div class="process-item process-item-center border">
                        <div class="process-thumb">
                            <img src="assets/images/process/process-three.png" alt="shape">
                        </div>
                        <div class="process-text">
                            <h3>Financial</h3>
                            <p>As partners with major banks we ensure the financial stability for all of our students through our partner financial institutions. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Process-section -->
<!-- News-section -->
<section class="news-section pt-min-100 pb-70">
    <div class="container">
        <div class="section-title section-title-lg">
            <h2>Powered By TAG</h2>
            <p>Our purpose is to deliver excellence in service and execution Our purpose is to deliver excellence in service and Our purpose is to deliver excellence in service.</p>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 pb-30">
                <div class="blog-card">
                    <div class="blog-card-image">
                        <img src="assets/images/blogs/blog-4.jpg" alt="blog">
                        <div class="card-video">
                            <a href="https://www.youtube.com/watch?v=Cx5aNwnZYDc" class="video-popup"><i class="icofont-ui-play"></i></a>
                        </div>
                    </div>
                    <div class="blog-card-text">
                        <div class="blog-category-text">Technology</div>
                        <h3><a href="single-project.html">Enabling Medical Staff To Prescribe The Right Antibiotics</a></h3>
                        <a href="single-project.html" class="redirect-link">Watch The Video <i class="icofont-play-alt-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 pb-30">
                <div class="blog-card">
                    <div class="blog-card-image">
                        <img src="assets/images/blogs/blog-5.jpg" alt="blog">
                        <div class="card-video">
                            <a href="https://www.youtube.com/watch?v=Cx5aNwnZYDc" class="video-popup"><i class="icofont-ui-play"></i></a>
                        </div>
                    </div>
                    <div class="blog-card-text">
                        <div class="blog-category-text">Machine</div>
                        <h3><a href="single-project.html">Categorizing Airbnb Listing Photos Using Tensorflow</a></h3>
                        <a href="single-project.html" class="redirect-link">Watch The Video <i class="icofont-play-alt-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 offset-md-3 offset-lg-0 pb-30">
                <div class="blog-card">
                    <div class="blog-card-image">
                        <img src="assets/images/blogs/blog-6.jpg" alt="blog">
                        <div class="card-video">
                            <a href="https://www.youtube.com/watch?v=Cx5aNwnZYDc" class="video-popup"><i class="icofont-ui-play"></i></a>
                        </div>
                    </div>
                    <div class="blog-card-text">
                        <div class="blog-category-text">Robot</div>
                        <h3><a href="single-project.html">Prescribe The Right Antibiotics With Tensorflow</a></h3>
                        <a href="single-project.html" class="redirect-link">Watch The Video <i class="icofont-play-alt-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- News-section -->
<!-- Testimonial-section -->
<section class="testimonial-section pt-min-100 pb-100 position-relative bg-off-white">
    <div class="container">
        <div class="section-title section-title-lg">
            <h2>What Say Our Clients About Us</h2>
            <p>Our purpose is to deliver excellence in service and execution Our purpose is to deliver excellence in service and Our purpose is to deliver excellence in service.</p>
        </div>
        <div class="testimonial-carousel default-carousel owl-carousel owl-theme">
            <div class="item">
                <div class="testimonial-card">
                    <div class="testimonial-card-body">
                        <div class="testimonial-card-inner-header">
                            <h3>Deltabel</h3>
                            <div class="testimonial-quote">
                                <i class="icofont-quote-left"></i>
                            </div>
                        </div>
                        <p class="testimonial-para">Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin.</p>
                        <ul class="review-star-list">
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                        </ul>
                    </div>
                    <div class="testimonial-card-info">
                        <div class="testimonial-card-info-thumb">
                            <img src="assets/images/testimonial-1.jpg" alt="testimonial">
                        </div>
                        <div class="testimonial-card-info-text">
                            <h3 class="testimonial-name">Johnson Mandel</h3>
                            <p class="testimonial-address">Los Angel</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimonial-card">
                    <div class="testimonial-card-body">
                        <div class="testimonial-card-inner-header">
                            <h3>Pentham CX</h3>
                            <div class="testimonial-quote">
                                <i class="icofont-quote-left"></i>
                            </div>
                        </div>
                        <p class="testimonial-para">Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin.</p>
                        <ul class="review-star-list">
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                        </ul>
                    </div>
                    <div class="testimonial-card-info">
                        <div class="testimonial-card-info-thumb">
                            <img src="assets/images/testimonial-2.jpg" alt="testimonial">
                        </div>
                        <div class="testimonial-card-info-text">
                            <h3 class="testimonial-name">Bentham Rober</h3>
                            <p class="testimonial-address">Bremen</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimonial-card">
                    <div class="testimonial-card-body">
                        <div class="testimonial-card-inner-header">
                            <h3>Floradex TL</h3>
                            <div class="testimonial-quote">
                                <i class="icofont-quote-left"></i>
                            </div>
                        </div>
                        <p class="testimonial-para">Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin.</p>
                        <ul class="review-star-list">
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                        </ul>
                    </div>
                    <div class="testimonial-card-info">
                        <div class="testimonial-card-info-thumb">
                            <img src="assets/images/testimonial-3.jpg" alt="testimonial">
                        </div>
                        <div class="testimonial-card-info-text">
                            <h3 class="testimonial-name">Thomas Albin</h3>
                            <p class="testimonial-address">New York</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimonial-card">
                    <div class="testimonial-card-body">
                        <div class="testimonial-card-inner-header">
                            <h3>Fantabulous</h3>
                            <div class="testimonial-quote">
                                <i class="icofont-quote-left"></i>
                            </div>
                        </div>
                        <p class="testimonial-para">Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin. Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin.</p>
                        <ul class="review-star-list">
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                            <li class="starred"><i class="icofont-star"></i></li>
                        </ul>
                    </div>
                    <div class="testimonial-card-info">
                        <div class="testimonial-card-info-thumb">
                            <img src="assets/images/testimonial-4.jpg" alt="testimonial">
                        </div>
                        <div class="testimonial-card-info-text">
                            <h3 class="testimonial-name">John Doe</h3>
                            <p class="testimonial-address">Los Angel</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial-section -->
<!-- News-section -->
<section class="news-section pt-min-100 pb-70">
    <div class="container">
        <div class="section-title section-title-lg">
            <h2>Company News & Updates Read All <br> Related Blog</h2>
            <p>Our purpose is to deliver excellence in service and execution Our purpose is to deliver excellence in service and Our purpose is to deliver excellence.</p>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 pb-30">
                <div class="blog-card">
                    <div class="blog-card-image">
                        <a href="single-blog.html">
                            <img src="assets/images/blogs/blog-1.jpg" alt="blog">
                        </a>
                    </div>
                    <div class="blog-card-text">
                        <div class="blog-category">Technology</div>
                        <h3><a href="single-blog.html">Is Machine Learning Right Going On Good Way</a></h3>
                        <div class="blog-card-entry">
                            <div class="blog-entry-thumb">
                                <img src="assets/images/blogs/blog-author-1.jpg" alt="author">
                            </div>
                            <div class="blog-entry-text">
                                <h4>By: <strong>David Joe</strong></h4>
                                <p>5 January 2021</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 pb-30">
                <div class="blog-card">
                    <div class="blog-card-image">
                        <a href="single-blog.html">
                            <img src="assets/images/blogs/blog-2.jpg" alt="blog">
                        </a>
                    </div>
                    <div class="blog-card-text">
                        <div class="blog-category">Robot</div>
                        <h3><a href="single-blog.html">The Current State Of Artificial Intelligence Infographic</a></h3>
                        <div class="blog-card-entry">
                            <div class="blog-entry-thumb">
                                <img src="assets/images/blogs/blog-author-2.jpg" alt="author">
                            </div>
                            <div class="blog-entry-text">
                                <h4>By: <strong>Lona Rabisa</strong></h4>
                                <p>4 January 2021</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 offset-md-3 offset-lg-0 pb-30">
                <div class="blog-card">
                    <div class="blog-card-image">
                        <a href="single-blog.html">
                            <img src="assets/images/blogs/blog-3.jpg" alt="blog">
                        </a>
                    </div>
                    <div class="blog-card-text">
                        <div class="blog-category">Machine</div>
                        <h3><a href="single-blog.html">Our Company As A Global Leader In Big Data</a></h3>
                        <div class="blog-card-entry">
                            <div class="blog-entry-thumb">
                                <img src="assets/images/blogs/blog-author-3.jpg" alt="author">
                            </div>
                            <div class="blog-entry-text">
                                <h4>By: <strong>Richard Jac</strong></h4>
                                <p>3 January 2021</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- News-section -->
<!-- Newsletter-section -->
<section class="newsletter-section pt-min-100 pb-100 page-bg page-bg-2 page-bg-overlay">
    <div class="container position-relative">
        <div class="section-title section-title-white">
            <h2>Subscribe For Newsletter</h2>
            <p>Subscribe to our newsletter & stay updated</p>
        </div>
        <form class="newsletter-form">
            <div class="form-group m-0 newsletter-form">
                <input type="text" name="EMAIL" id="emails" class="form-control" placeholder="Enter Address*" required>
                <button class="btn main-btn" type="submit">Subscribe</button>
            </div>
            <div id="validator-newsletter" class="form-result"></div>
        </form>
    </div>
</section>
<!-- Newsletter-section -->