<div id="stepper">

    <!--  linear #stepper -->
    <mat-stepper class="example-stepper" linear #stepper  [selectedIndex]="selectedindex">
        <!-- label="Company details" -->
        <mat-step [stepControl]="companyDetailsForm">
            <form [formGroup]="companyDetailsForm" class="form" (ngSubmit)="companySubmit()">
                <ng-template matStepLabel>Company details</ng-template>
                <h1 color="primary" headline-1>Company details</h1><br>
                <!-- <p>All fields are mandatory unless stated as 'optional'.</p> -->
                <!-- <mat-form-field appearance="outline">
                    <mat-label>Company name</mat-label>
                    <input matInput placeholder="Please enter your companay name" formControlName="companyname" required>
                    <mat-error *ngIf="f.companyname.errors?.required">Please enter company name</mat-error>
                </mat-form-field> -->
                <mat-form-field appearance="outline">
                    <mat-label>Doing business as</mat-label>
                    <input matInput placeholder="Business description" formControlName="doing_business_as">
                    <!-- <mat-error *ngIf="f.Doing_Business_as.errors?.required">Ple</mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Address line 1</mat-label>
                    <input matInput placeholder="Address line 1" formControlName="address_line_1" required>
                    <mat-error *ngIf="(f.address_line_1?.touched || companydetailsSubmit) && f.address_line_1.errors?.required">Please fill your address</mat-error>

                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Address line 2</mat-label>
                    <input matInput placeholder="Address line 2" formControlName="address_line_2">
                    <!-- <mat-error *ngIf="f.Address_Line_2.errors?.required">Please enter your address</mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>City</mat-label>
                    <input matInput placeholder="city" formControlName="city" required>
                    <mat-error *ngIf="(f.city?.touched || companydetailsSubmit) && f.city.errors?.required">Please enter your city name</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>State</mat-label>
                    <!-- <input matInput placeholder="State" formControlName="State" required> -->
                    <mat-select formControlName="state">
                        <mat-option *ngFor="let state of states" [value]="state" required>
                            {{state}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="(f.state?.touched || companydetailsSubmit) && f.state.errors?.required">Please enter your state name</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Country</mat-label>
                    <input matInput placeholder="country" [readonly]=true formControlName="country">
                    <!-- <mat-error *ngIf="f.Country.errors?.required">Please enter your country name</mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Postal / ZIP Code</mat-label>
                    <input matInput placeholder="Zipcode" formControlName="pincode" required>
                    <mat-error *ngIf="(f.pincode?.touched || companydetailsSubmit) && f.pincode.errors?.required">Please enter your zip/postal code</mat-error>
                    <mat-error *ngIf="f.pincode.errors?.pattern">Please enter valid pincode</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Website</mat-label>
                    <input matInput placeholder="www.webaddress.com" formControlName="website" [pattern]="websitevalid" required>
                    <mat-error *ngIf="(f.website?.touched || companydetailsSubmit) && f.website.errors?.required">Please enter website address</mat-error>
                    <mat-error *ngIf="f.website.errors?.pattern">Please enter valid web address</mat-error>
                </mat-form-field>
                <mat-form-field class="phone">
                    <mat-label>Direct telephone number</mat-label>
                    <input matInput formControlName="company_phone_number" ng2TelInput [ng2TelInputOptions]="{initialCountry: 'in'}" (countryChange)="onCountryChange($event)" required>
                    <mat-error *ngIf="(f.company_phone_number?.touched || companydetailsSubmit) && f.company_phone_number?.errors?.required">Please enter valid telephone number</mat-error>
                    <mat-error *ngIf="f.company_phone_number?.errors?.pattern">Please enter 10 digit mobile number</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Company email address</mat-label>
                    <input matInput placeholder="name@email.com" formControlName="company_email_address" [pattern]="mailvalid" required>
                    <mat-error *ngIf="(f.company_email_address?.touched || companydetailsSubmit) && f.company_email_address.errors?.required">Please enter email id</mat-error>
                    <mat-error *ngIf="f.company_email_address.errors?.pattern">Please enter valid email id</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Company LinkedIn page</mat-label>
                    <input matInput placeholder="Company LinkedIn" formControlName="linked_in">
                    <!-- <mat-error *ngIf="(f.Linked_IN?.touched || companydetailsSubmit) && f.Linked_IN.errors?.required">Please enter company linkedin page address</mat-error>
                    <mat-error *ngIf="f.Linked_IN.errors?.pattern">Please enter valid linkedin URL </mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Company twitter page</mat-label>
                    <input matInput placeholder="Company twitter" formControlName="twitter">
                    <!-- <mat-error *ngIf="(f.Twitter?.touched || companydetailsSubmit) && f.Twitter.errors?.required">Please enter company twitter page address</mat-error>
                    <mat-error *ngIf="f.Twitter.errors?.pattern">Please enter valid twitter URL </mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Company facebook page</mat-label>
                    <input matInput placeholder="Company facebook" formControlName="fb_page">
                    <!-- <mat-error *ngIf="(f.FB_page?.touched || companydetailsSubmit) && f.FB_page.errors?.required">Please enter company facebook page address</mat-error>
                    <mat-error *ngIf="f.FB_page.errors?.pattern">Please enter valid facebook URL </mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Company Instagram page</mat-label>
                    <input matInput placeholder="Company Instagram" formControlName="instagram">
                    <!-- <mat-error *ngIf="(f.Instagram?.touched || companydetailsSubmit) && f.Instagram.errors?.required">Please enter comapany Instagram page address</mat-error>
                    <mat-error *ngIf="f.Instagram.errors?.pattern">Please enter valid Instagram URL </mat-error> -->
                </mat-form-field>

                <div>
                    <button type="submit" mat-button (click)="getself()">Next</button>
                </div>
            </form>
        </mat-step>
        <!-- form two start -->
        <mat-step [stepControl]="companyMainContactForm" label="Main contact details">
            <form [formGroup]="companyMainContactForm" (ngSubmit)="companyMainContactSubmit()">
                <h1 color="primary" headline-1>Main contact details</h1><br>
                <!-- <p>All fields are mandatory unless there is no '*'.</p> -->
                <!-- <mat-form-field appearance="outline">
                    <mat-label>Title</mat-label>
                    <mat-select formControlName="Title">
                        <mat-option *ngFor="let title of nameTitle" [value]="title.value" required>
                            {{title.value}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="(s.Title?.touched || maincontactDetailsSubmit) && s.Title.errors?.required">Select your title</mat-error>
                </mat-form-field> -->
                <!-- <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="enter your firstname" formControlName="first_name" >
                </mat-form-field> -->
                <div class="row">
                    
                    <p>First Name :  {{companyMainContactForm.value.first_name}}</p>
                </div>
                <div class="row">
                    
                    <p>Last Name :  {{companyMainContactForm.value.last_name}}</p>
                </div>
                <div class="row">
                    
                    <p>Email :  {{companyMainContactForm.value.email_address}}</p>
                </div>
                <div></div>

                <mat-form-field appearance="outline">
                    <mat-label>Job title</mat-label>
                    <input matInput placeholder="job title" formControlName="job_title" required>
                    <mat-error *ngIf="(s.job_title?.touched || maincontactDetailsSubmit) && s.job_title.errors?.required">Please enter your job title</mat-error>
                </mat-form-field>
                <!-- <mat-form-field appearance="outline">
                    <mat-label>Email address</mat-label>
                    <input matInput placeholder="name@email.com" formControlName="email_address">
                </mat-form-field> -->
                <!-- <mat-form-field appearance="outline">
                    <mat-label>Confirm email address</mat-label>
                    <input matInput placeholder="name@email.com" formControlName="Confirm_Email_Address" [pattern]="mailvalid" required>
                    <mat-error *ngIf="(s.Confirm_Email_Address?.touched || maincontactDetailsSubmit) && s.Confirm_Email_Address.errors?.required">Please enter email id</mat-error>
                </mat-form-field> -->
                <mat-form-field class="phone">
                    <mat-label>Business owner contact number</mat-label>
                    <input matInput formControlName="business_owner_contact_number" ng2TelInput [ng2TelInputOptions]="{initialCountry: 'in'}" (countryChange)="onCountryChange1($event)" required>
                    <mat-error *ngIf="(s.business_owner_contact_number?.touched || maincontactDetailsSubmit) && s.business_owner_contact_number.errors?.required">Please enter valid telephone number</mat-error>
                    <mat-error *ngIf="s.business_owner_contact_number?.errors?.pattern">Please enter 10 digit mobile number</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Business owner email address</mat-label>
                    <input matInput placeholder="name@email.com" formControlName="business_owner_email" [pattern]="mailvalid" required>
                    <mat-error *ngIf="(s.business_owner_email?.touched || maincontactDetailsSubmit) && s.business_owner_email.errors?.required">Please enter owner email id</mat-error>
                    <mat-error *ngIf="s.business_owner_email.errors?.pattern">Please enter valid email id</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>LinkedIn page</mat-label>
                    <input matInput placeholder="enter LinkedIn url" formControlName="linked_in_profile">
                    <!-- <mat-error *ngIf="(s.Linked_In_Profile?.touched || maincontactDetailsSubmit) && s.Linked_In_Profile.errors?.required">Please enter linkedin address</mat-error>
                    <mat-error *ngIf="s.Linked_In_Profile.errors?.pattern">Please enter valid linkedin URL </mat-error> -->
                </mat-form-field>

                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="companyOverviewForm" label="Company overview">
            <form [formGroup]="companyOverviewForm" (ngSubmit)="companyOverviewSubmit()">
                <h1 color="primary" headline-1>Company overview</h1><br>
                <!-- <p>All fields are mandatory unless there is no '*'.</p> -->
                <mat-form-field appearance="outline">
                    <mat-label>Business founded year</mat-label>
                    <mat-select formControlName="business_founded_year">
                        <mat-option *ngFor="let year of yearlist" [value]="year" required>
                            {{year}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="(t.business_founded_year?.touched || companyoverviewDetailsSubmit) && t.business_founded_year?.errors?.required">Please select business founded year</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Registration #</mat-label>
                    <input matInput placeholder="Registration #" formControlName="registration">
                    <mat-error *ngIf="(t.registration?.touched || companyoverviewDetailsSubmit) && t.registration?.errors?.required">Please enter registration number</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>State of incorporation</mat-label>
                    <mat-select formControlName="state_of_incorporation">
                        <mat-option *ngFor="let state of states" [value]="state" required>
                            {{state}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="(t.state_of_incorporation?.touched || companyoverviewDetailsSubmit) && t.state_of_incorporation?.errors?.required">Please select state</mat-error>
                </mat-form-field>
                <!-- disabled till update  -->
                <!-- <div class="mb-3">
                    <label for="formFile" class="form-label">upload Registration certificate:</label>
                    <input class="form-control" type="file" id="formFile" (change)="selectFile($event)" formControlName="registration_Certificate">
                </div> -->

                <!-- <div>
                    <label>upload Registration certificate</label>
                    <div>
                        <mat-toolbar *ngIf="currentFile" class="progress-bar">
                            <mat-progress-bar color="accent" [value]="progress"></mat-progress-bar>
                            <span class="progress">{{ progress }}%</span>
                        </mat-toolbar>

                        <mat-form-field>
                            <div>
                                <mat-toolbar>
                                    <input matInput [value]="fileName" />

                                    <button mat-flat-button color="primary" [disabled]="!currentFile">
                            Upload
                          </button>
                                </mat-toolbar>

                                <input type="file" id="fileInput" (change)="selectFile($event)" name="fileInput" />
                            </div>
                        </mat-form-field>
                    </div>

                    <div *ngIf="message" class="message">
                        {{ message }}
                    </div>
                </div> -->

                <!--  -->
                <!-- <div style="margin-top:20px">
                    <mat-label>Have you or any of your counsellors have completed a relevant International Agent training from British Council, ICEF, or other similar organisation?</mat-label>
                    <mat-button-toggle-group (click)="consi()" name="fontStyle" formControlName="counsellconfirm" aria-label="Font Style">
                        <mat-button-toggle value="yes">yes</mat-button-toggle>
                        <mat-button-toggle value="no">no</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <mat-form-field appearance="outline" *ngIf="counselor">
                    <mat-label>Name of the counsellors</mat-label>
                    <input matInput placeholder="counsellor name" formControlName="counsellor">
                    <mat-error *ngIf="t.counsellor?.errors?.required">Please enter counsellor name</mat-error>
                </mat-form-field> -->

                <div style="margin-top: 20px; margin-bottom: 20px;">
                    <mat-label>How many years of experience do you have in the international education recruitment industry?</mat-label><br/>
                    <mat-button-toggle-group name="fontStyle" formControlName="experience" aria-label="Font Style">
                        <mat-button-toggle value="-1">Less than 1</mat-button-toggle>
                        <mat-button-toggle value="1">1</mat-button-toggle>
                        <mat-button-toggle value="2">2</mat-button-toggle>
                        <mat-button-toggle value="3">3</mat-button-toggle>
                        <mat-button-toggle value="4">4</mat-button-toggle>
                        <mat-button-toggle value="5">5</mat-button-toggle>
                        <mat-button-toggle value="5+">5+</mat-button-toggle>
                    </mat-button-toggle-group>
                    <mat-error *ngIf="(t.experience?.touched || companyoverviewDetailsSubmit) && t.experience?.errors?.required">Please select experiance</mat-error>
                </div>

                <!-- <mat-form-field appearance="outline" style="margin-top: 20px;">
                    <mat-label>Countries your company recruits students</mat-label>
                    <input matInput placeholder="Countries your company recruits students" formControlName="Countries_your_company_recruits_students" required>
                    
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Total number of students enrolled in last 12 months</mat-label>
                    <input matInput placeholder="Total number of students enrolled in last 12 months" formControlName="Total_number_of_students_enrolled_in_last_12_months" required>
                    

                    <mat-error *ngIf="t.Total_number_of_students_enrolled_in_last_12_months?.errors?.pattern">Range between 1 - 999</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Enter the VISA success rate</mat-label>
                    <input matInput placeholder="Enter the VISA success rate" formControlName="Enter_the_VISA_success_rate" required>
                    
                    <mat-error *ngIf="t.Enter_the_VISA_success_rate?.errors?.pattern"> Range between 1-100</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Total number of potential students in the next 12 months</mat-label>
                    <input matInput placeholder="Total number of potential students in the next 12 months" formControlName="Total_number_of_potential_students_in_the_next_12_months" required>
                    
                    <mat-error *ngIf="t.Total_number_of_potential_students_in_the_next_12_months?.errors?.pattern">Enter only numbers</mat-error>
                </mat-form-field> -->

                <!-- <div>
                    <mat-label>Countries your company recruits students</mat-label>
                    <div *ngFor="let data of countries; let i=index">
                        <label>
                          <input type="checkbox" [value]="data.value" (change)="onCheckboxChange($event)"  formControlName="countrySelection"/>
                          {{data.name}}
                        </label>
                    </div>
                </div> -->

                <!-- country selection with options (temparary hold)-->
                <!-- <div style="margin-top: 30px;">
                    <label>Countries your company recruits students:</label>
                    <div class="dataRow row">
                        <table>
                            <tr>
                                <th></th>
                                <th>Total number of students enrolled in last 12 months</th>
                                <th>Enter the VISA success rate</th>
                                <th>Total number of potential students in the next 12 months</th>
                            </tr>
                            <tr formGroupName="Australia">
                                <td>australia</td>
                                <td><input type="text" formControlName="students12Months" /></td>
                                <td><input type="text" formControlName="visaSuccessRate" /></td>
                                <td><input type="text" formControlName="potentialStudents12Months"></td>
                            </tr>
                            <tr formGroupName="canada">

                                <td>Canada</td>
                                <td><input type="text" formControlName="students12Months" /></td>
                                <td><input type="text" formControlName="visaSuccessRate" /></td>
                                <td><input type="text" formControlName="potentialStudents12Months"></td>

                            </tr>
                            <tr formGroupName="usa">
                                <td>usa</td>
                                <td><input type="text" formControlName="students12Months" /></td>
                                <td><input type="text" formControlName="visaSuccessRate" /></td>
                                <td><input type="text" formControlName="potentialStudents12Months"></td>

                            </tr>
                            <tr formGroupName="uk">
                                <td>uk</td>
                                <td><input type="text" formControlName="students12Months" /></td>
                                <td><input type="text" formControlName="visaSuccessRate" /></td>
                                <td><input type="text" formControlName="potentialStudents12Months"></td>
                            </tr>
                            <tr formGroupName="other">
                                <td>other</td>
                                <td><input type="text" formControlName="otherCountries" /></td>
                            </tr>
                        </table>
                    </div>
                </div> -->
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button type="submit">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="bankDetailsForm" label="Bank details">
            <form [formGroup]="bankDetailsForm" (ngSubmit)="companyBankDetailsSubmit()">
                <h1 color="primary" headline-1>Bank details</h1><br>
                <!-- <p>All fields are mandatory unless there is no '*'.</p> -->
                <mat-form-field appearance="outline">
                    <mat-label>Bank account name</mat-label>
                    <input matInput placeholder="enter bank account name" formControlName="bank_account_name" required>
                    <mat-error *ngIf="(fo.bank_account_name?.touched || bankDetailsSubmit) && fo.bank_account_name?.errors?.required">Please enter bank account name</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Bank account number</mat-label>
                    <input matInput placeholder="enter bank account number" formControlName="account_number" required>
                    <mat-error *ngIf="(fo.account_number?.touched || bankDetailsSubmit) && fo.account_number?.errors?.required">Please enter bank account number</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Bank name</mat-label>
                    <input matInput placeholder="enter bank name" formControlName="bank_name" required>
                    <mat-error *ngIf="(fo.bank_name?.touched || bankDetailsSubmit) && fo.bank_name?.errors?.required">Please enter bank name</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Bank Branch</mat-label>
                    <input matInput placeholder="enter bank branch" formControlName="bank_branch" required>
                    <mat-error *ngIf="(fo.bank_branch?.touched || bankDetailsSubmit) && fo.bank_branch?.errors?.required">Please enter bank branch</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>IFSC code</mat-label>
                    <input matInput placeholder="IFSC code" formControlName="ifsc_code" required>
                    <mat-error *ngIf="(fo.ifsc_code?.touched || bankDetailsSubmit) && fo.ifsc_code?.errors?.required">Please enter IFSC code</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>IBAN code</mat-label>
                    <input matInput placeholder="IBAN code" formControlName="iban_code">
                    <!-- <mat-error *ngIf="fo.IBAN?.errors?.required">Please enter IBAN code</mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Swift code</mat-label>
                    <input matInput placeholder="swift code" formControlName="swift_code">
                    <!-- <mat-error *ngIf="(fo.Swift_Code?.touched || bankDetailsSubmit) && fo.Swift_Code?.errors?.required">Please enter Swift code</mat-error> -->
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button type="submit" mat-button>Next</button>
                </div>
            </form>
        </mat-step>
        <!-- [stepControl]="referencesForm" label="References" -->
        <mat-step>
            
            <ng-template matStepLabel>References</ng-template>
            <form [formGroup]="referencesForm" (ngSubmit)="companyReferenceSubmit()">
                <h1 color="primary" headline-1>References</h1><br>
                <!-- <p>All fields are mandatory unless there is no '*'.</p> -->
                <mat-form-field appearance="outline">
                    <mat-label>Full name</mat-label>
                    <input matInput placeholder="fullname" formControlName="first_name_and_last_name">
                    <!-- <mat-error *ngIf="(fi.First_Name_and_Last_Name?.touched || bankDetailsSubmit) && fi.First_Name_and_Last_Name?.errors?.required">Please enter fullname</mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Referee designation / Job title</mat-label>
                    <input matInput placeholder="Referee designation / Job title" formControlName="referee_designation">
                    <!-- <mat-error *ngIf="(fi.Referee_Designation?.touched || bankDetailsSubmit) && fi.Referee_Designation?.errors?.required">Please enter Referee designation</mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Name of the institution</mat-label>
                    <input matInput placeholder="Name of the institution" formControlName="name_of_institution">
                    <!-- <mat-error *ngIf="(fi.Name_Of_Institution?.touched || bankDetailsSubmit) && fi.Name_Of_Institution?.errors?.required">Please enter bank name</mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Country</mat-label>
                    <input matInput placeholder="country" formControlName="ref_country">
                    <!-- <mat-error *ngIf="(fi.Country?.touched || bankDetailsSubmit) && fi.Country?.errors?.required">Please enter country name</mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Contact number</mat-label>
                    <input matInput placeholder="Contact Number" formControlName="preferrend_contact_number">
                    <!-- <mat-error *ngIf="(fi.Preferrend_Contact_Number?.touched || bankDetailsSubmit) && fi.Preferrend_Contact_Number?.errors?.required">Please enter Valid Contact Number</mat-error> -->
                    <!-- <mat-error *ngIf="fi.Preferrend_Contact_Number?.errors?.pattern">Please enter 10 digit mobile number</mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Email address</mat-label>
                    <input matInput placeholder="Email Address" formControlName="ref_email_address" [pattern]="mailvalid">
                    <!-- <mat-error *ngIf="(fi.emailAddress?.touched || bankDetailsSubmit) && fi.emailAddress?.errors?.required">Please enter email address</mat-error> -->
                    <!-- <mat-error *ngIf="fi.emailAddress.errors?.pattern">Please enter valid email id</mat-error> -->
                </mat-form-field>

                <!-- <div>
                    <section class="example-section">
                        <mat-checkbox class="example-margin" [checked]="policyAgree" (change)="onchecked()">
                            All information provided in this agent registration form is true and correct. I agree to the Agent Declaration
                        </mat-checkbox>
                    </section>

                </div> -->
                <!-- <div style="margin-top: 30px;">
                    <button type="submit" mat-raised-button color="primary">submit</button>
                </div> -->
                <div>
                    <!-- <button mat-button matStepperPrevious>Back</button> -->
                    <button mat-button type="submit">Next</button>
                </div>
            </form>
        </mat-step>




        <mat-step>
            <div id="pluswrap" *ngIf="loader">
                <div class="plus">
                    <mat-spinner></mat-spinner>
                </div>
            </div>
            <ng-template matStepLabel>Submit</ng-template>
            <h1>Acceptance & agreement</h1>
            <div>
                <h3 style="text-align: center;">INTERNATIONAL STUDENT RECRUITMENT AGREEMENT</h3>
                <ol>
                    <li><b><u>Appointment</u></b> : Admit Group hereby appoints Recruiter as its non-exclusive agent for the promotion of those Programs offered by Admit Group University Partners, as updated and amended from time to time. Recruiter agrees that it shall act in that capacity, subject to this Agreement.</li>
                    <li><b><u>Recruiter Responsibilities</u></b> : Recruiter will recruit International Students to enroll in the Programs who are currently residing in India. Recruiter will provide International Students with any necessary information required to apply to and enroll in Programs, including admission requirements, tuition, visa requirements and requirements of the Programs for CPT. Admit Group shall also have the right, but not the obligation, to direct International Student leads to Recruiter for students located in India; should such International Students successfully enroll in the Programs, Recruiter shall be compensated for such International Students also as outlined below.</li>
                    <li><b><u>Actions Prohibited</u></b> : Recruiter will not promote the Programs to or facilitate applications from any individuals who 
                        <ol>
                        <li>are clearly not academically qualified to meet the admission requirements of the Programs, </li>
                        <li>are not financially qualified to pay the tuition and cost of living for the duration of the Programs,</li> 
                        <li>are US citizens or permanent residents of the United States or Title IV Financial Aid eligible.</li>
                        </ol>
                    </li>
                    <li><b><u>Costs</u></b> : All costs of the Recruiter’s activities hereunder shall be solely borne by Recruiter. </li>
                    <li><b><u>Fees</u></b> : The Recruiter shall receive a fee depending on the university for each International Student recruited or serviced by Recruiter and enrolled into a Program as provided in Schedule A.</li>
                    <li><b><u>Invoice and payment</u></b> : Recruiter is responsible for invoicing Admit Group at the end of 1st semester of the student and Payment will be made to Recruiter no later than 30 days of invoice date.</li>
                    <li><b><u>Term and Termination</u></b> : The term of this Agreement begins on the date of signing of this Agreement and will continue until terminated by either Party. Either Party may terminate this Agreement at any time by giving the other party 30 days’ notice via email. If Recruiter breaches any part of this Agreement, Admit Group may terminate this Agreement at any time and with immediate effect by giving written notice to Recruiter at the address written above. Notice will be deemed to have been given upon delivery to Recruiter’s address. Termination by either Party does not affect Fees earned by Recruiter hereunder, which will be paid when due.</li>
                    <li><b><u>Non-Solicitation and Non-Competition</u></b>
                        <ol>
                        <li><b><u>Non-Solicitation of Clients/Customers</u></b> : For the duration of this agreement and for twelve (12) months thereafter, irrespective of whether this agreement is terminated voluntarily or involuntarily, for any reason or no reason, Representative agrees not to, directly or indirectly, solicit, accept business from, or perform services for any ADMIT GROUP customer or client, encourage any customer or client of ADMIT GROUP to cease doing business with ADMIT GROUP or to engage in business with any entity or individual competitive with RAPID TECHNOLOGIES LLC, or otherwise interfere with any of RAPID TECHNOLOGIES’s client and customer relationships. ADMIT GROUP customers and clients include both individuals seeking placement at universities or colleges in the U.S.A. as well as RAPID TECHNOLOGIES LLC’ college and university partners.</li>
                        <li><b><u>Non-Solicitation of Vendors and Employees</u></b> : For the duration of this agreement and for twelve (12) months thereafter, irrespective of whether this agreement is terminated voluntarily or involuntarily, for any reason or no reason, Representative agrees not to solicit, divert or induce, directly or indirectly, any of RAPID TECHNOLOGIES’ contractors, vendors, or employees to terminate any relationship with RAPID TECHNOLOGIES.</li>
                        <li><b><u>Restrictions Reasonable</u></b> : Representative and ADMIT GROUP agree that the restrictive covenants provided herein are reasonable and necessary for the protection of RAPID TECHNOLOGIES’ business, goodwill, confidential and proprietary information. If any of the provisions of this Section 2 are held to be unenforceable, the remaining provisions shall nevertheless remain enforceable, and the court making such determination shall modify, among other things, the scope, duration, or geographic area of this Section to preserve the enforceability hereof to the maximum extent permitted by law.</li>
                        </ol>
                        </li>
                    <li><b><u>Non-Disclosure of Confidential Information.</u></b>
                        <ol>
                        <li><b><u>Confidential Information</u></b> : Representative recognizes that ADMIT GROUP now possesses and will continue to possess information of a confidential or secret nature in, among others, written, unwritten, electronic, and image form, which has unique commercial value in the business in which ADMIT GROUP is engaged (hereinafter referred to as “Confidential Information”). Confidential Information includes, without limitation, any nonpublic information pertaining to ADMIT GROUP and may include information concerning RAPID TECHNOLOGIES’ processes, finances, advertising and marketing plans, product plans, business strategies, profit margins, seasonal plans, goals, objectives and projections, compilations and analyses of ADMIT GROUP services, the identity of vendors, business partners, suppliers, and customers, including lists thereof, and otherwise. Such information is and shall remain the property of RAPID TECHNOLOGIES.</li>
                        <li><b><u>Obligation Not to Disclose</u></b> : At all times, both during and after the term of this agreement, Representative agrees to keep in strict confidence all Confidential Information and not use or disclose any Confidential Information or anything related to it, in whole or in part, nor permit others to use or disclose it in any way, without the prior written consent of RAPID TECHNOLOGIES, except as may be necessary in the ordinary course of representing ADMIT GROUP as provided for in this agreement. Representative further agrees to inform ADMIT GROUP immediately in writing in the event of any breach of this obligation of confidentiality.</li>
                        <li><b><u>Obligations Upon Termination</u></b> : Upon termination of this agreement, voluntary or involuntary, for any reason or no reason, Representative agrees to promptly deliver to ADMIT GROUP all materials, documents, data, equipment, and other physical or digital property of any nature containing or pertaining to any Confidential Information.</li>
                        <li><b><u>Third-Party Information</u></b> : Representative recognizes that ADMIT GROUP has received and will receive confidential or proprietary information from third parties. Representative agrees to hold all such information in confidence and not use or disclose such information to anyone except as necessary in carrying out the representation of ADMIT GROUP as set forth in this agreement and consistent with the terms of RAPID TECHNOLOGIES’ agreement and/or understanding with such third party(ies).</li>
                    </ol>
                    </li> 
                  <li><b><u>Miscellaneous</u></b> 
                    <ol>  
                    <li><b><u>Injunctive Relief</u></b> : Representative agrees and understands that breach of this agreement may cause ADMIT GROUP irreparable harm, which may not be adequately compensated by money damages. Accordingly, in the event of a breach or threatened breach of this agreement, ADMIT GROUP will be entitled to injunctive or other equitable relief to enforce the provisions hereof, in addition to such other remedies to which ADMIT GROUP may be entitled, including the recovery of money damages.</li>
                        <li><b><u>Severability</u></b> : If any provision of this agreement is held by a court of competent jurisdiction to be void or unenforceable for any reason, the remaining provisions of this agreement shall nevertheless continue in full force and effect.</li>
                            <li><b><u>Binding on Representative</u></b> The covenants contained in this agreement are binding on Representative, its owners, officers, directors, successors-in-interest, and assigns.</li>
                                <li><b><u>Modifications</u></b> This agreement may not be modified or amended except by a written agreement that refers to this agreement and is signed both parties hereto.</li>   
                    </ol>
                    </li>
                    </ol>
            </div>
            
                <div>
                    <section class="example-section">
                        <mat-checkbox class="example-margin" [checked]="policyAgree" (change)="onchecked()">
                            All information provided in this agent registration form is true and correct. I agree to the Agent Declaration
                        </mat-checkbox>
                    </section>

                </div>

           
            <div style="margin-top: 30px;">
                <button type="submit" (click)="acceptSubmit()" mat-raised-button color="primary">submit</button>
            </div>
            <!-- <div>
                <button mat-button matStepperPrevious>Back</button>
            </div> -->
        </mat-step>
    </mat-stepper>
</div>